/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/assets/editorApp/assets/config.json
/public/html5_player/config/config1.php
/public/html5_player/config/config2.php

