#div_C .accordion:nth-child(odd) .block-header>.col-md-3,
#div_C .accordion:nth-child(odd) .block-header>.col-md-9,
#div_A .accordion:nth-child(odd) .block-header>.col-md-3,
#div_A .accordion:nth-child(odd) .block-header>.col-md-9 {
    background-color: #c3aacb;
}

#div_C .accordion:nth-child(even) .block-header>.col-md-3,
#div_C .accordion:nth-child(even) .block-header>.col-md-9,
#div_A .accordion:nth-child(even) .block-header>.col-md-3,
#div_A .accordion:nth-child(even) .block-header>.col-md-9 {
    background-color: #a8abd5;
}

.card {
    background-color: transparent !important;
}

.training-item .content-training {
    display: none;
}

.card .card-header {
    background-color: #5794c9;
}

.card.active .card-header {
    background-color: #2e3092;
}

.btn-group .btn,
.btn-group .btn a {
    color: white !important;
}

main span,
main p,
.btn-group .btn {
    font-size: 1.1vw !important;
}

.btn-group .btn a[aria-expanded='true'] {
    color: blue !important;
}

@media screen and (max-width:992px) {
    main span,
    main p,
    .btn-group .btn {
        font-size: 1.1vw !important;
    }
}

@media screen and (max-width:766px) {
    main span,
    main p,
    .btn-group .btn {
        font-size: 3vw !important;
    }
    .training-item .content-training {
        display: block;
    }
    #div_C .block {
        display: none;
    }
}

@media screen and (max-width:400px) {
    main span,
    main p,
    .btn-group .btn {
        font-size: 5vw !important;
    }
}

@media screen and (max-width:200px) {
    main span,
    main p,
    .btn-group .btn {
        font-size: 6vw !important;
    }
}
