#div_C .accordion .block-header>.col-md-3,
#div_C .accordion .block-header>.col-md-9,
#div_A .accordion .block-header>.col-md-3,
#div_A .accordion .block-header>.col-md-9 {
    background-color: #f0eaf5;
}

/* #div_C .accordion:nth-child(even) .block-header>.col-md-3,
#div_C .accordion:nth-child(even) .block-header>.col-md-9,
#div_A .accordion:nth-child(even) .block-header>.col-md-3,
#div_A .accordion:nth-child(even) .block-header>.col-md-9 {
    background-color: #a8abd5;
} */

.card {
    background-color: transparent !important;
}

.training-item .content-training {
    display: none;
}

.card .card-header {
    background-color: #5794c9;
}

.card.active .card-header {
    background-color: #2e3092;
}

/* .btn-group .btn,
.btn-group .btn a {
    color: white !important;
} */

main span,
main p,
.btn-group .btn {
    font-size: 1.1vw !important;
}

.btn-group .btn a[aria-expanded='true'] {
    color: blue !important;
}

.card-body i {
    font-size: 1.1vw;
}

.push {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

.item-play,
.item-name,
.item-show i {
    color: #7a3d89 !important;
}

.description-title {
    float: left;
    padding-right: 40px;
    border-right: 1px solid #f0eaf5;
    margin-right: 40px;
}

.lessons {
    padding: 10px 0;
    border-top: 2px solid #f0eaf5;
    border-bottom: 2px solid #f0eaf5;
}

.training-description {
    color: #b197ae;
    border-bottom: 1px solid #f0eaf5;
    border-top: 1px solid #f0eaf5;
    padding: 10px 0;
}

@media screen and (max-width:992px) {

    main span,
    main p,
    .btn-group .btn {
        font-size: 1.1vw !important;
    }
}

@media screen and (max-width:766px) {

    main span,
    main p,
    .btn-group .btn {
        font-size: 3vw !important;
    }

    .card-body i {
        font-size: 3vw;
    }

    /* .training-item .content-training {
        display: block;
    } */

    /* #div_C .block {
        display: none;
    } */

    #div_C {
        margin-bottom: 20px;
    }

    .card {
        padding-right: 0 !important;
    }
    .flex-mobile {
        flex-direction: column;
    }
}

@media screen and (max-width:400px) {

    main span,
    main p,
    .btn-group .btn {
        font-size: 5vw !important;
    }
}

@media screen and (max-width:200px) {

    main span,
    main p,
    .btn-group .btn {
        font-size: 6vw !important;
    }
}
