.block-header:nth-child(odd)>div {
    background-color: #c3aacb;
}

.card {
    background-color: transparent !important;
}

.block-header:nth-child(even) div {
    background-color: #a8abd5;
}

.card .card-header {
    background-color: #5794c9;
}

.card.active .card-header {
    background-color: #2e3092;
}

.btn-group .btn,
.btn-group .btn a {
    color: white !important;
}

main span,
main p {
    font-size: 1.0vw !important;
}

.btn-group .btn a[aria-expanded='true'] {
    color: blue !important;
}

@media screen and (max-width:992px) {
    main span,
    main p {
        font-size: 1.0vw !important;
    }
}

@media screen and (max-width:766px) {
    main span,
    main p {
        font-size: 3vw !important;
    }
}

@media screen and (max-width:400px) {
    main span,
    main p {
        font-size: 5vw !important;
    }
}

@media screen and (max-width:200px) {
    main span,
    main p {
        font-size: 6vw !important;
    }
}