#div_A .list-group,
#div_B .list-group,
#div_C .list-group,
#div_D .list-group {
    max-height: 400px;
}

#div_A .list-group.nolimit,
#div_B .list-group.nolimit,
#div_C .list-group.nolimit,
#div_D .list-group.nolimit {
    max-height: none;
}

.toolkit-filter {
    display: none;
}

#teachers,
#authors,
#companies,
#positions,
#groups,
#content-group,
#div_B .d-flex>.list-group-item {
    display: none;
}

#students .list-group-item,
#table-participant .list-group-item[data-type='4'],
#table-participant-tab {
    background-color: var(--student-c);
}

#students .list-group-item.active,
#table-participant .list-group-item.active,
#students .list-group-item:hover,
#table-participant .list-group-item:hover,
.ui-state-active #table-participant-tab,
.ui-state-hover #table-participant-tab {
    background-color: var(--student-h);
}

#groups .list-group-item,
#table-participant .list-group-item[data-type='group'] {
    background-color: var(--group-c);
}

#groups .list-group-item.active,
#groups .list-group-item:hover,
#table-participant .list-group-item[data-type='group']:hover {
    background-color: var(--group-h);
}

#teachers .list-group-item,
#table-participant .list-group-item[data-type='3'] {
    background-color: var(--teacher-c);
}

#teachers .list-group-item.active,
#teachers .list-group-item:hover,
#table-participant .list-group-item[data-type='3']:hover {
    background-color: var(--teacher-h) !important;
}

#authors .list-group-item {
    background-color: var(--author-c);
}

#authors .list-group-item:hover,
#authors .list-group-item.active {
    background-color: var(--author-h);
}

#companies .list-group-item,
.filter-company-btn {
    background-color: var(--company-c);
}

.filter-date-btn:hover {
    background-color: blue !important;
}

.filter-date-btn {
    background-color: rgb(97, 97, 248) !important;
}

.filter-name-btn:hover {
    background-color: green !important;
}

.filter-name-btn {
    background-color: rgb(0, 184, 0) !important;
}

#companies .list-group-item.active,
#companies .list-group-item:hover,
.filter-company-btn:hover {
    background-color: var(--company-h);
}

#positions .toolkit,
#positions .list-group-item,
.filter-function-btn {
    background-color: var(--position-c);
}

#positions .list-group-item.active,
#positions .list-group-item:hover,
.filter-function-btn:hover {
    background-color: var(--position-h);
}

#session .list-group-item {
    background-color: var(--session-c);
}

#session .list-group-item.active,
#session .list-group-item:hover {
    background-color: var(--session-h);
}

#trainings .list-group-item,
#table-content .list-group-item,
#table-content-tab {
    background-color: var(--training-h);
}

#trainings .list-group-item.active,
#trainings .list-group-item:hover,
#table-content .list-group-item:hover,
#table-content-tab:hover,
.ui-state-active #table-content-tab {
    background-color: var(--training-c);
}

.nav-link#students-tab {
    background-color: var(--student-c);
}

.ui-state-hover .nav-link#students-tab,
.ui-state-active .nav-link#students-tab {
    background-color: var(--student-h);
}

.nav-link#teachers-tab {
    background-color: var(--teacher-c);
}

.nav-item.ui-state-hover .nav-link#teachers-tab,
.nav-item.ui-state-active .nav-link#teachers-tab {
    background-color: var(--teacher-h);
}

.nav-link#authors-tab {
    background-color: var(--author-c);
}

.nav-item.ui-state-hover .nav-link#authors-tab,
.nav-item.ui-state-active .nav-link#authors-tab {
    background-color: var(--author-h);
}

.nav-link#companies-tab {
    background-color: var(--company-c);
}

.nav-item.ui-state-hover .nav-link#companies-tab,
.nav-item.ui-state-active .nav-link#companies-tab {
    background-color: var(--company-h);
}

.nav-link#groups-tab {
    background-color: var(--group-c);
}

.nav-item.ui-state-hover .nav-link#groups-tab,
.nav-item.ui-state-active .nav-link#groups-tab {
    background-color: var(--group-h) !important;
}

.nav-link#positions-tab {
    background-color: var(--position-c) !important;
}

.nav-item.ui-state-hover .nav-link#positions-tab,
.nav-item.ui-state-active .nav-link#positions-tab {
    background-color: var(--position-h) !important;
}


/* .nav-link#table-session-tab {
    background-color: var(--session-c) !important;
} */


/* .nav-item.ui-state-hover .nav-link#table-session-tab,
.nav-item.ui-state-active .nav-link#table-session-tab {
    background-color: var(--session-h) !important;
} */


/* ///////////////////////////////////////////////// */


/* ////////this is for modification for cropper form */

.toolkit {
    padding-right: 8px;
}

.second-table {
    /* display: none; */
}

fieldset form {
    /* display: none; */
}

.toggle2-btn {
    display: none;
    /* color:white !important; */
}

.list-group-item.select-active .toggle2-btn {
    /* display: none; */
    color: rgba(255, 255, 255, 0.5);
}

.btn-group button.btn,
.list-group-item-action,
a.list-group-item:not([href]) {
    color: rgba(255, 255, 255, 0.5);
}

.btn-group button.btn:hover {
    color: white;
}

.active .btn-group button.btn,
.active .list-group-item-action,
.active a.list-group-item:not([href]) {
    color: rgba(255, 255, 255, 0.5);
}

.list-group-item.active .btn.active,
.list-group-item .btn.active {
    color: white;
}

#category_save_button,
#category_cancel_button {
    z-index: 6;
}

#students .highlight {
    animation: studenthighlight 2s infinite;
}

@keyframes studenthighlight {
    0% {
        border-color: var(--student-h);
    }

    50% {
        border-color: var(--student-c);
    }

    100% {
        border-color: var(--student-h);
    }
}

#trainings .highlight {
    animation: traininghighlight 2s infinite;
}

@keyframes traininghighlight {
    0% {
        border-color: var(--training-h);
    }

    50% {
        border-color: var(--training-c);
    }

    100% {
        border-color: var(--training-h);
    }
}

#session .highlight {
    animation: sessionhighlight 2s infinite;
}

@keyframes sessionhighlight {
    0% {
        border-color: var(--session-h);
    }

    50% {
        border-color: var(--session-c);
    }

    100% {
        border-color: var(--session-h);
    }
}

#teachers .highlight {
    animation: teacherhighlight 2s infinite;
}

@keyframes teacherhighlight {
    0% {
        border-color: var(--teacher-h);
    }

    50% {
        border-color: var(--teacher-c);
    }

    100% {
        border-color: var(--teacher-h);
    }
}

#groups .highlight {
    animation: grouphighlight 2s infinite;
}

@keyframes grouphighlight {
    0% {
        border-color: var(--group-h);
    }

    50% {
        border-color: var(--group-c);
    }

    100% {
        border-color: var(--group-h);
    }
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.btn-group button.btn:active,
.btn-group button.btn:focus {
    outline: none;
}

#teachers .item-show,
#authors .item-show {
    display: none;
}

.list-group-item.border-transparent {
    border-color: transparent;
}


#auto-generate-report {
    display: none;
}

#doc-type-list {
    display: none;
}

.doc-type-item,
.model-item {
    border-radius: 5px;
    background-color: #9d9b9b;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px 20px;
    align-items: center;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.doc-type-item:hover {
    background-color: #6f6e6e;
}

.doc-type-item.active {
    background-color: #6f6e6e;
}

.sliderStyle {
    overflow-y: auto;
    overflow-x: auto;
}

.sliderStyle::-webkit-scrollbar {
    width: 8px;
}


/* Track */


/* Handle */

.sliderStyle::-webkit-scrollbar-thumb {
    background: #2e3092;
    border-radius: 8px;
}

.document.active {
    background-color: #F39200;
}

.document {
    background-color: #312783;
}

#person-document,
#group-document {
    display: none;
}

.document-table td .list-group-item>div {
    border: 0;
}

table.document-table {
    width: 100%;
    margin-left: 10px;
}

.document-table th div,
.document-table td div {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 6px;
    margin-right: 3px;
}

table.document-table th {
    color: white;
    font-size: 16pt;
    font-weight: 100;
}

table.document-table th div {
    background-color: #2e3092;
}

table.document-table th i {
    float: right;
    padding: 10px;
}

.document-table td>div {
    color: black;
    background-color: #f0eaf5;
    /* padding-top: 19px; */
    margin-top: 3px;
}

.doc_download:hover{
    color: #be0f2d
}

.doc_download{
    cursor: pointer;
}