#div_A .list-group,
#div_B .list-group,
#div_C .list-group,
#div_D .list-group {
    max-height: 400px;
}

#div_A.nolimit,
#div_B.nolimit,
#div_C.nolimit,
#div_D.nolimit {
    max-height: none;
}

.toolkit-filter {
    display: none;
}

#div_D .list-group-item,
#div_A .list-group-item {
    background-color: var(--lesson-h);
}

#LeftPanel .toolkit>div,
#div_D .list-group-item.active,
#div_A .list-group-item.active {
    background-color: var(--lesson-c);
}
#div_A .list-group-item:hover {
    background-color: var(--lesson-c);
}

#div_B .list-group-item,
#div_C .list-group-item {
    background-color: var(--training-h);
}

#RightPanel .toolkit>div,
#div_B .list-group-item.active,
#div_C .list-group-item.active {
    background-color: var(--training-c);
}
#div_C .list-group-item:hover {
    background-color: var(--training-c);
}

.toolkit {
    padding-right: 8px;
}

.second-table {
    display: none;
}

fieldset form {
    display: none;
}

.toggle2-btn {
    display: none;
    /* color:white !important; */
}

.list-group-item.select-active .toggle2-btn {
    /* display: none; */
    color: rgba(255, 255, 255, 0.5);
}

.btn-group button.btn,
.list-group-item-action,
a.list-group-item:not([href]) {
    color: rgba(255, 255, 255, 0.5);
}


/* .btn-group button.btn i {
    font-size: 20pt;
    margin: -4px 0;
} */

.btn-group button.btn:hover {
    color: white;
}

.active .btn-group button.btn,
.active .list-group-item-action,
.active a.list-group-item:not([href]) {
    color: rgba(255, 255, 255, 0.5);
}

.list-group-item.active .btn.active,
.list-group-item .btn.active {
    color: white;
}

#training_save_button,
#training_cancel_button {
    z-index: 6;
}

#div_A .highlight,
#div_D .highlight {
    animation: lessonhightlight 2s infinite;
}

@keyframes lessonhightlight {
    0% {
        border-color: var(--lesson-h);
    }
    50% {
        border-color: var(--lesson-c);
    }
    100% {
        border-color: var(--lesson-h);
    }
}

#div_B .highlight,
#div_C .highlight {
    animation: traininghightlight 2s infinite;
}

@keyframes traininghightlight {
    0% {
        border-color: var(--training-h);
    }
    50% {
        border-color: var(--training-c);
    }
    100% {
        border-color: var(--training-h);
    }
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.btn-group button.btn:active,
.btn-group button.btn:focus {
    outline: none;
}

#teachers .item-show,
#authors .item-show {
    display: none;
}

.filter-date-btn:hover {
    background-color: blue !important;
}

.filter-date-btn {
    background-color: rgb(97, 97, 248) !important;
}

.filter-name-btn:hover {
    background-color: green !important;
}

.filter-name-btn {
    background-color: rgb(0, 184, 0) !important;
}

.list-group-item.border-transparent {
    border-color: transparent;
}

.wheel-btn {
    color: #c31c2d;
}

.wheel-btn:hover {
    color: #2d4272;
}